* {
  box-sizing: border-box;
}

// vars
$black: #010000;
$white: #ffffff;
$lightgrey: #e6e6e6;
$darkgrey: #333;
$red: #ff1755;
$salmon: #FF7C6D;
$darkblue: #014289;
$lavblue: #637AFF;

// mixins

@mixin translateY($e) {
  -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
      transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
    -moz-transition: $e;
      transition: $e;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// fonts

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $salmon;
    @include transition(.4s ease-in-out);
  }
}




.container-fluid {
  line-height: 24px;
}
