@import "_config.scss";

// general
body {
  margin: 0;
}
// header

header {
  position: fixed;
  display: block;
  width: 100%;
  background-color: $darkgrey;
  color: $white;
  height: 60px;
  z-index: 10;
}
  .logo {
    font-size: 20px;
    color: $white;
    position: absolute;
    top: 50%; left: 15px;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px;

      &.last {
        margin: 0;
      }

      a {
        font-size: 19px;
        line-height: normal;
        color: $white;
      }
    }
  }



h1 {
  display: block;
  width: 100;
}

// home
.home-content {
  background: url("../photos/martin-sattler.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  @include flexbox();
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 5;
  .banner {
    margin: auto;
    padding-top: 2.75rem;
    border: 4px double;
    height: 18rem;
    width: 28rem;
    color: $white;
    .name {
      font-weight: normal;
      margin-bottom: 1.5rem;
    }
    .title {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }
    .location {
      margin-bottom: 2rem;
    }
    .links {
      color: $white;
      width: 100%;
      height: 32px;
      margin: auto;
      margin-bottom: 1rem;
      @include flexbox();
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      a {
        color: $white;
        font-size: 1rem;
        padding: 0 1rem 0 1rem;
        &:hover {
          color: $salmon;
          @include transition(.4s ease-in-out);
        }
      }
      .email {
        border-right: 1px solid $white;
      }
      .github {
        border-left: 1px solid $white;
      }
    }

  }
  .arrow {
    width: 20px;
    height: 20px;
    border: solid $white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    &:hover {
      border-color:$salmon;
      border-width: 0 4px 4px 0;
      @include transition(.4s ease-in-out);
    }
  }
}


// Portfolio
.portfolio {
  text-align: center;
  min-height: 100vh;
  margin-top: -60px;
  padding-top: 60px;
  z-index: 1;
  h1 {
    display: block;
    margin: 1.5rem 37.5% 2rem 37.5%;
    padding-bottom: .5rem;
    width: 25%;
    border-bottom: solid 4px $black;
    font-weight: bold;
  }
}

.projects {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  @include flexbox();
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 8px solid $salmon;
}

.project {
  @include flexbox();
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 300px;
  margin-bottom: 1rem;
  .overlay {
    padding: 10px;
    height: 100%;
    width: 100%;
    position: relative;
    &:hover {
      background-color: rgba(0,0,0, 0.5);
      text-decoration: none;
    }
    .title{
      font-size: 2rem;
      color: $white;
      font-style: italic;
      font-weight: bold;
      position: absolute;
      bottom: 12px;
      left: 5px;
      background-color: rgba(0,0,0,.2);
      padding: 0 1em 0 1em;
    }
    p {
      padding: 1em;
      margin-right: auto;
      margin-left: auto;
      color: $white;
      opacity: 0;
      z-index: 1;
    }
  }

}


.overlay:hover > p {
  display: block;
  opacity: 1;
  @include transition( opacity .4s ease-in-out);
}

// media queries
@media (max-width: 480px) {
  .banner {
    max-width: 100%;
  }
}




@media (min-width: 768px) {
  .project {
    width: 49%;
  }
}

@media (min-width: 1224px) {
  .project {
    width: 32%;
  }
}
