@import "config";

@import "modules/about";
@import "modules/home";
@import "modules/portfolio";
@import "modules/header";
@import "modules/footer";

// general
body {
  margin: 0;
}


// media queries
@media (max-width: 480px) {
  .banner {
    max-width: 100%;
  }
  .email, .github {
    border: none;
  }
}

@media (max-width: 980px) {
  .project {
    min-height: 350px;
  }
}


@media (min-width: 980px) {
  .project {
    width: 46%;
    height: 280px;
  }
}

@media (min-width: 1224px) {
  .project {
    width: 30%;

  }
}
